<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2 login">Login do Cliente</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input class="form-control mb-2" type="email" id="inputEmail" name="email" placeholder="E-mail" />

    <label for="inputSenha" class="sr-only">Senha</label>
    <input class="form-control mb-2" type="password" id="inputSenha" name="senha" placeholder="Senha" />

    <button class="btn btn-primary btn-block" type="submit">Entrar</button>
  </form>
</div>
