<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2 login">Criar conta</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input class="form-control mb-2"
           [ngClass]="{
            'is-invalid': email.invalid && (email.dirty || email.touched),
            'is-valid': email.valid && (email.dirty || email.touched)
           }"
           type="email"
           id="inputEmail"
           name="email" placeholder="E-mail"
           [(ngModel)]="usuario.email"
           #email="ngModel"
           email
           required />
    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email é de preenchimento obrigatório!
      </div>
      <div *ngIf="email.errors.email">
        Email está no formato inválido, verifique!
      </div>
    </div>

    <label for="inputSenha" class="sr-only">Senha</label>
    <input class="form-control mb-2"
           [ngClass]="{
            'is-invalid': senha.invalid && (senha.dirty || senha.touched),
            'is-valid': senha.valid && (senha.dirty || senha.touched)
           }"
           type="password"
           id="inputSenha"
           name="senha"
           placeholder="Senha"
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           required />
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha deve ser informada!
      </div>
    </div>

    <label for="inputNome" class="sr-only">Nome</label>
    <input class="form-control mb-2"
           [ngClass]="{
            'is-invalid': nome.invalid && (nome.dirty || nome.touched),
            'is-valid': nome.valid && (nome.dirty || nome.touched)
           }"
           type="text"
           id="inputNome"
           name="nome" placeholder="Nome"
           [(ngModel)]="usuario.nome"
           #nome="ngModel"
           required />
    <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <div *ngIf="nome.errors.required">
        O campo Nome é de preenchimento obrigatório!
      </div>
    </div>

    <label for="inputSobrenome" class="sr-only">Sobrenome</label>
    <input class="form-control mb-2"
           [ngClass]="{
            'is-invalid': sobrenome.invalid && (sobrenome.dirty || sobrenome.touched),
            'is-valid': sobrenome.valid && (sobrenome.dirty || sobrenome.touched)
           }"
           type="text"
           id="inputSobrenome"
           name="sobrenome" placeholder="Sobrenome"
           [(ngModel)]="usuario.sobrenome"
           #sobrenome="ngModel"
           required />
    <div class="invalid-feedback mb-2" *ngIf="sobrenome.invalid && (sobrenome.dirty || sobrenome.touched)">
      <div *ngIf="sobrenome.errors.required">
        O campo Sobrenome é de preenchimento obrigatório!
      </div>
    </div>

    <button class="btn btn-primary btn-block" type="submit" (click)="cadastrar()" [disabled]="ativarSpinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
      Salvar
    </button>

    <div>
      <a [routerLink]='["/entrar"]'>Voltar</a>
    </div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{ mensagem }}
    </div>
    <img src="../../../assets/img/buy_img.jpg" />

    <!--
    <div class="alert alert-primary" role="alert" *ngIf="usuarioAutenticado">
      Usuario Autenticado!
    </div>
    <div class="alert alert-warning" role="alert">
      <div *ngFor="let usu of usuarios">
       // {{ usu }}
      </div>
  </div>-->
  </form>
</div>
